{% extends 'base.html' %} {% load static %} {% block title %} Blog {% endblock %} {% block body %}



<!-- Start Page Title Area -->
<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <h2>News And Blog</h2>

            <ul>
                <li>
                    <a href="#">
								Home 
							</a>
                </li>

                <li class="active">
                    Blog
                </li>
            </ul>

            <img src="{% static 'images/choose-shape.png' %}" alt="Image" class="shape shape-3" data-speed="0.09" data-revert="true">
        </div>
    </div>

    <img src="{% static 'images/subscribe-shape-1.png' %}" alt="Image" class="shape shape-1" data-speed="0.04" data-revert="true">
    <img src="{% static 'images/subscribe-shape-2.png' %}" alt="Image" class="shape shape-2" data-speed="0.04" data-revert="true">
</div>
<!-- End Page Title Area -->

<!-- Start Blog Area -->
<div class="blog-area pt-100 ptb-100">
    <div class="container">
        <div class="section-title">
            <span class="top-title">BLOG AND NEWS</span>
            <h2>Better Health Knowledge Begins Right Here</h2>
        </div>

        <div class="row align-items-center">
            {% for post in posts %}
            <div class="col-lg-4 col-md-6">
                <div class="single-blog-item style-post">
                    <a href="#">
                        <img src="{{post.thumbnail.url}}" style="object-fit:cover;" alt="Image">
                    </a>

                    <div class="blog-content">
                        <ul>
                            <li>
                                {{post.timestamp}}
                            </li>
                            <li>
                                <a href="#">{{post.category}}</a>
                            </li>
                        </ul>
                        <h3>
                            <a href="#">{{post.title}}</a>
                        </h3>

                        <a href="#" class="admin">
                            <img src="{% static 'images/blog/admin.jpg' %}" class="rounded-circle" height="30" width="50" class="rounded-circle" height="30" width="50" alt="Image"> BY {{post.author.user.first_name}}
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- End Blog Area -->

<!-- Start Our Quality Area -->
<div class="quality-area bg-color-497774 ptb-100">
    <div class="container">
        <div class="quality-content">
            <span class="top-title">READY TO GET STARTED</span>
            <h2>We Care About the Highest Quality And Best Price Of Our Insurance</h2>

            <div class="quality-btn">
                <a href="#" class="default-btn">
							Get Started
						</a>
                <a href="#" class="default-btn active">
							Contact Us
						</a>
            </div>

            <img src="{% static 'images/subscribe-shape-2.png' %}" alt="Image" class="shape shape-1" data-speed="0.04" data-revert="true">
            <img src="{% static 'images/subscribe-shape-3.png' %}" alt="Image" class="shape shape-2" data-speed="0.04" data-revert="true">
        </div>
    </div>
</div>
<!-- End Our Quality Area -->

<!-- Start Our Review Area -->
<!-- <div class="our-review-area bg-color-f8f8f8 pt-100 pb-70">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-8">
                <div class="review-slide owl-carousel owl-theme">
                    <div class="single-review-item style-three">
                        <div class="review-img">
                            <img src="{% static 'images/review/review-1.jpg' %}" alt="Image">
                        </div>

                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis placerat arcu nibh sed.Lorem ipsum dolor sit amet.</p>

                        <h3>Manika Selven</h3>
                        <span>Marketing Ex.</span>
                        <i class="ri-double-quotes-r"></i>
                    </div>

                    <div class="single-review-item style-three">
                        <div class="review-img">
                            <img src="{% static 'images/review/review-2.jpg' %}" alt="Image">
                        </div>

                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis placerat arcu nibh sed.Lorem ipsum dolor sit amet.</p>

                        <h3>Manika Selven</h3>
                        <span>Marketing Ex.</span>
                        <i class="ri-double-quotes-r"></i>
                    </div>
                </div>
            </div>

            <div class="col-xl-4">
                <div class="review-content style-two style-three">
                    <span class="top-title">OUR REVIEW</span>
                    <h2>What They Say About Us Honest Reviews</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis placerat arcu nibh sed placerat elementum.</p>
                </div>
            </div>
        </div>
    </div>

    <img src="{% static 'images/review/shape-1.png' %}" alt="Image" class="shape shape-1" data-speed="0.04" data-revert="true">
    <img src="{% static 'images/review/shape-2.png' %}" alt="Image" class="shape shape-2" data-speed="0.04" data-revert="true">
    <img src="{% static 'images/review/shape-3.png' %}" alt="Image" class="shape shape-3" data-speed="0.04" data-revert="true">
</div> -->
<!-- End Our Review Area -->

{% endblock %}